.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 18px;
  color: white;
}

.sign-in {
  display: block;
  appearance: none;
  height: 40px;
  font-size: 12px;
  text-transform: uppercase;
  width: 190px;
  color: #fff;
  background-color: #7a81a1;
  margin: 25px auto;
  border: none;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.sign-in:hover {
  background-color: #4e5263;
}

.chat-room {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #353a45;
}

.messages-list {
  flex: 1;
}

.messages-list > div {
  max-height: 85vh;
  padding-top: 30px;
  overflow: auto;
}

.new-message {
  display: flex;
  height: 40px;
}

.createdAt {
  font-size: 10px;
  font-style: italic;
  color: #fff;
  opacity: 0.7;
}

.new-message input {
  flex: 1;
  appearance: none;
  background-color: #282c34;
  border: 1px solid #4c5565;
  color: #fff;
  padding: 0 5px;
}

.new-message button {
  appearance: none;
  border: none;
  color: #fff;
  width: 130px;
  background-color: #6286cd;
  transition: all 0.3s ease;
  cursor: pointer;
}

.App-header button {
  appearance: none;
  border: none;
  color: #fff;
  font-size: 12px;
  height: 30px;
  padding: 0 10px;
  background-color: red;
  transition: all 0.3s ease;
  cursor: pointer;
}

.new-message button:hover {
  background-color: #5070ae;
}

.message-name {
  font-size: 14px;
  color: #fff;
}

.message-text {
  margin-top: 3px;
  font-size: 12px;
  color: #fff;
  opacity: 0.8;
}

.message {
  padding: 0 15px;
  line-height: 1.6;
}

.message.send {
  display: flex;
  justify-content: flex-end;
  padding-left: 30px;
}

.message.received {
  padding-right: 30px;
}

.messages-list .message {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.message-text {
  font-size: 12px;
}
